# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/bin/mac/*
!backend/bin/mac/.gitkeep
backend/bin/win/*
!backend/bin/win/.gitkeep
backend/bin/linux/*
!backend/bin/linux/.gitkeep
backend/target/
backend/Cargo.lock
node_modules/
dist/
.DS_Store
.idea/
.vscode/
src/avatar/backend/bin/mac/avatar-companion-mac
src/avatar/backend/bin/mac/DesktopAvatar.app/Contents/MacOS/DesktopAvatar
src/backend/bin/avatar-companion-aarch64-apple-darwin
src/backend/bin/avatar-companion-x86_64-apple-darwin
src/backend/bin/avatar-companion-x86_64-pc-windows-msvc.exe
src/backend/bin/mac/avatar-companion-mac
