.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.login-form {
  width: 100%;
  max-width: 500px;
  padding: 32px;
  border-radius: var(--g-border-radius-xl);
  background-color: var(--g-color-base-background);
}

/* Стили для заголовка */
.login-header {
  text-align: center;
  margin-bottom: 24px;
}

.login-title {
  font-size: xx-large;
  font-weight: var(--g-text-header-font-weight);
  color: var(--g-color-text-primary);
}

/* Стили для блока с полями ввода и тени */
.login-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 24px;
}

.g-text-input__control {
  height: 50px !important;
  min-height: 40px !important;
  border-radius: 8px;
}

.login-submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 50px;
  width: 85%;
  max-width: 100%;
  box-sizing: border-box;
}

.login-divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider-line {
  flex-grow: 1;
}

.divider-text {
  padding: 0 12px;
  font-size: var(--g-text-body-1-font-size);
  color: var(--g-color-text-secondary);
}

/* Стили для футера с текстом и ссылкой */
.login-footer {
  text-align: center;
  margin-top: 20px;
  font-size: var(--g-text-body-1-font-size);
  color: var(--g-color-text-secondary);
}
